# Mac 固有の不要なファイル
.DS_Store

# ユーザーディレクトリに関係するもの
.docker/
.gitconfig
.lesshst
.npm/
.ssh/
.viminfo
.vscode/
.zsh_history
Library/
Movies/
Music/
Pictures/
Public/
RUNTEQ_Laravel/
RUNTEQ_PHP/
RUNTEQ_Skill_Metrix/
Zenn.st/
deploy_sample/
live_app/
